/deep/ .el-dialog__body {
  padding-top: 0;
}

/deep/ .el-dialog {
  height: 80vh !important;

}

/deep/ .el-dialog {
  border-radius: 5px;
  height: 90%;
  overflow: hidden;

  .el-dialog__body{
    height: calc(90%);
    overflow: auto;
  }
}